<% include header.ejs %>
  <% include navbar.ejs %>

  <div class="container-fluid" id="content">
    <div class="row-fluid" id="profile-summary">
      <div class="span12">
        <h2>Calories In</h2>
        <table id="calories-table">
            <% for(var i = 0; i < caloriesIn.foods.length; i++) { %> 
            <tr>
                <td><%= caloriesIn.foods[i].loggedFood.name %></td>
                <td><%= caloriesIn.foods[i].loggedFood.calories %></tr>
            </tr>
            <% } %>
            <tr>
                <th>Total</th>
                <th><%= caloriesIn.summary.calories %></th>
            </tr>
        </table>
        
        <h2>Calories Out</h2>
        <table id="calories-table">
            <% for(var i = 0; i < caloriesOut.activities.length; i++) { %> 
            <tr>
                <td><%= caloriesOut.activities[i].name %></td>
                <td><%= caloriesOut.activities[i].calories %></tr>
            </tr>
            <% } %>
            <tr>
                <th>Total</th>
                <th><%= caloriesOut.summary.caloriesOut %></th>
            </tr>
      </div>
    </div>
  </div>

<% include footer.ejs %>
