<% include header.ejs %>

<% include navbar.ejs %>

<div id="category-div">
    <div> 
	<h2>Healthy</h2>
	<% for(var i = 0; i < physicalActivities.length; i++) {%>
	    <div><%= physicalActivities[i] %></div>
	<% } %>
    </div>

    <div>
	<h2>Not Healthy</h2>
	<% for(var i = 0; i < restaurants.length; i++) {%>
	    <div><%= restaurants[i] %></div>
	<% } %>
    </div>
</div>

<h2>Recent Checkins</h2>
<table id="checkins-table">
<% for(var i = 0; i < checkinsData.response.checkins.items.length; i++) {%>
    <tr>
	<td><%= checkinsData.response.checkins.items[i].venue.name %></td>
	<td><%= checkinsData.response.checkins.items[i].venue.location.address %></td>
	<td><%= checkinsData.response.checkins.items[i].venue.categories[0].name %></td>
    </tr>
<% } %>
</table>
<% include footer.ejs %>
