<% include header.ejs %>

<% include navbar.ejs %>

<div id="category-div">
    <div> 
	<h2>Healthy</h2>
	<% for(var i = 0; i < healthy.length; i++) {%>
	    <div><%= healthy[i] %></div>
	<% } %>
	<div class="positive-points">Points: <%= healthyPoints %></div>
    </div>

    <div>
	<h2>Unhealthy</h2>
	<% for(var i = 0; i < unhealthy.length; i++) {%>
	    <div><%= unhealthy[i] %></div>
	<% } %>
	<div class="negative-points">Points: <%= unhealthyPoints %></div>
    </div>
</div>

<h2>Health Points</h2>
<h3 class="<%= pointsClass %>">
    <% if(netPoints >= 0) { %>+<% } %> 
    <% if(netPoints < 0) { %>-<% } %> 
    <%= netPoints %>
</h3>

<h2>Recent Checkins</h2>
<table id="checkins-table">
<% for(var i = 0; i < checkinsData.response.checkins.items.length; i++) {%>
    <tr>
	<td><%= checkinsData.response.checkins.items[i].venue.name %></td>
	<td><%= checkinsData.response.checkins.items[i].venue.location.address %></td>
        <% if (checkinsData.response.checkins.items[i].venue.categories[0]) { %>
            <td><%= checkinsData.response.checkins.items[i].venue.categories[0].name %></td>
            <% } %>    
    </tr>
<% } %>
</table>
<% include footer.ejs %>
