<% include header.ejs %>

  <div class="data" id="weight-data" weekHigh="<%= weightData.weekHigh %>" weekLow="<%= weightData.weekLow %>" predictedData="<%= weightData.predictedData %>" percents="<%= weightData.percents %>" goal="<%= weightGoal %>" x1="<%= weightData.x1 %>" y1="<%= weightData.y1 %>" x2="<%= weightData.x2 %>" y2="<%= weightData.y2 %>"/></div> 
  <% var activities = runData.activities; var thisWeek = runData.thisWeek; var lastWeek = runData.lastWeek; var weekDiff = runData.weekDiff %>
  
  <% include navbar.ejs %>
  <div class="container-fluid" id="content">
    <div class="row-fluid" id="profile-summary">
      <div class="span2 offset4">
        <img id="profile-pic" width="230px" height="205px" src="http://s3.amazonaws.com/gleandocs/photos/charles.jpg" alt="Charles Naut" />
      </div>

      <div class="span2">
        <h3>Charles Naut</h3>
        <p><%= weightData.latest %> lbs</p>
        <p>Last ran <%= activities[0].total_distance %> miles in  <%= activities[0].duration %> minutes, burning <%= activities[0].total_calories %> calories on <%= activities[0].date %> </p>
        <p>Last checked in at <%= checkinData.checkinsData.response.checkins.items[0].venue.name %> </p>
      </div>
    </div>

    <div class="row-fluid">
      <div class=span12>
        <h2>Body Weight</h2>
        <h3><%= weightData.latest %></h3>
      
        <span id="weight-highest-chart-container" class="chart-container">
          <div id="weight-highest-chart-div" class="chart-div"></div>
          <p>Week High</p>
        </span>
      
        <span id="weight-lowest-chart-container" class="chart-container">
          <div id="weight-lowest-chart-div" class="chart-div"></div>
          <p>Week Low</p>
        </span>

        <span id="weight-historical-chart-container" class="chart-container">
          <span id="weight-line-graph"></span>
          <div id="weight-historical-chart-div" class="chart-div"></div>
          <p>Past Week</p>
        </span>
      
        <span id="weight-predicted-chart-container" class="chart-container">
          <div id="weight-predicted-chart-div" class="chart-div"></div>
          <p>Predicted</p>
        </span>
      
        <span id="weight-goal-chart-container" class="chart-container">
          <div id="weight-goal-chart-div" class="chart-div"></div>
          <p>Goal</p>
        </span>
      </div>
    </div>

    <h2>Run Stats</h2>
    <% include runkeeper/weeklystats.ejs %>
    <% include runkeeper/recentruns.ejs %>
    
    <% var healthy = checkinData.healthy; var healthyPoints = checkinData.healthyPoints; var unhealthy = checkinData.unhealthy; var unhealthyPoints = checkinData.unhealthyPoints; var neutral = checkinData.neutral; var netPoints = checkinData.netPoints; var pointsClass = checkinData.pointsClass %>
    <% include foursquare/checkinsurplus.ejs %>

  </div>

  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="js/main.js" charset="utf-8"></script>
  <script>onload=generateCharts("weight-data", "weight", 1);</script>
<% include footer.ejs %>
