<!DOCTYPE html>
<html lang="en">
  <head>
    <title>glean status</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body onload="generateChart();" predicteddata="<%= predictedData %>" fatpercents="<%= fatPercents %>">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
	</div>
      </div>
    </div>

    <div class="container-fluid" id="content">
      <div class="row-fluid">
	<div class=span12>
	  <h2>Body Fat</h2>
	  <h3><%= fat %>%</h3>
	  <h3><%= date %></h3>
	  <div class="progress" style="width:25%">
	    <div class="bar bar-danger" style="width: <%= fat %>%"></div>
	    <div class="bar bar-success" style="width: <%= 100 - fat %>%"></div>
	  </div>
	  
	  <div id="charts"></div>
	</div>
      </div>
    </div>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
