<!DOCTYPE html>
<html lang="en">
  <head>

    <title>glean status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body onload="generateChart();" predictedData="<%= predictedData %>" fatPercents="<%= fatPercents %>" fatGoal="<%= fatGoal %>" x1="<%= x1 %>" y1="<%= y1 %>" x2="<%= x2 %>" y2="<%= y2 %>">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
	  <a class="brand" href="#">glean</a>
	</div>
      </div>
    </div>

    <div class="container-fluid" id="content">
      <div class="row-fluid">
	<div class=span12>
	  <h2>Body Fat</h2>
	  <h3><%= latestFat %>%</h3>
	  
	  <span id="historical-chart-container" class="chart-container">
	    <span id="line-graph"></span>
	    <div id="historical-chart-div" class="chart-div"></div>
	    <p>Past Week</p>
	  </span>
	  
	  <span id="predicted-chart-container" class="chart-container">
	    <div id="predicted-chart-div" class="chart-div"></div>
	    <p>Predicted</p>
	  </span>

	  <span id="goal-chart-container" class="chart-container">
	    <div id="goal-chart-div" class="chart-div"></div>
	    <p>Goal</p>
	  </span>

	</div>
      </div>
    </div>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
