<h3>Recent Runs</h3>
<table class="runs-table">
    <tr>
	<th>Duration</th>
	<th>Distance</th>
	<th>Minutes per Mile</th>
	<th>Calories</th>
	<th>Date</th>
    </tr>
    <% for(var i = 0; i < activities.length; i++) { %>
    <tr>
	<td><%= activities[i].duration %> minutes</td>
	<td><%= activities[i].total_distance %> miles</td>
	<td><%= activities[i].minutes_per_mile %> minutes/mile</td>
	<td><%= activities[i].total_calories %></td>
	<td><%= activities[i].date %></td>
    </tr>
    <%}%>
</table>
